/*general*/
body:hover{
    cursor: default;
}

a, button{
    text-decoration: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    transition: all 0.6s;
}

button:hover, a:hover{
    cursor: pointer;
}

body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/*right section*/
.rightsect{
    display: flex;
    flex-direction: column;
    background-color: rgb(28, 28, 28);
}

/*Return*/
.Return{
    width: fit-content;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8vw;
    margin: 1vw;
    padding: 1.9vh 1.8vw;
    background-color: rgb(9, 189, 69);
    border-radius: 35px;
    transition: 0.6s;
}

.Return:hover{
    transform: scale(1.1);
    transform-origin: left;
    background-color: rgb(212, 0, 255);
}

.historyMenu{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.history{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    gap: 5px
}
.save{
    display: flex;
    flex-direction: row;
    background-color: #171717;
    border-radius: 10px;
    height: fit-content;
    width: 43vh;
    color: white;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
}
.save:hover{
    cursor: pointer;
}
.currentChat{
    background-color: #302b2b;
    transform: scale(0.9);
}
.SaveName{
    margin-left: 3vh;
    transform-origin: left;
    transition: all 1s;
    font-size: 3.5vh;
}
.SaveName:hover{
    position: relative;
    transform: scale(1.1);
}
.addSave:hover{
    cursor: pointer;
}

.SaveMoreConfig{
    align-self: center;
}
.SaveMoreConfigButton{
    font-size: 4vh;
    margin-bottom: 10px;
}

.SaveMoreConfigButton:hover{
    position: relative;
    transform: scale(1.1);
}
.historyConfigButton{
    background: #fff;
    height: fit-content;
    color: #171717;
    padding: 1vh;
    margin: 1vh;
    font-family: 'Roboto', sans-serif;
    font-size: 2.7vh;
    border-radius: 20px;
    transition: all 0.3s;
}
.historyConfigButton:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.historyConfigButton:active{
    transition: all 0.1s;
    transform: scale(1.1);
}

.historyConfig{
    height: 17vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #171717;
    justify-content: space-evenly;
    align-items: center;
}

/*left section*/
.leftsect{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr;
}
.header{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    background-color: rgb(39, 39, 39);
}


/*Bot profile*/
.bot {
    background-image: url(images/duck\ picture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 25px;
    height: 100%;
    width: 20%;
    transition: all .4s;
}
.nome{
    margin: 1vw;
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
    font-weight: 500;
    color: white;
    align-self: center;
    transition: all .5s;
}

.nome:hover{
    transform: scale(1.1);
    transform-origin: left;
}

@media screen and (max-width: 764px) {
    .nome{
        font-size: 4vh;
    }
}

.bot:hover{
    opacity: 0.9;
    cursor: pointer;
    background-position: center top;
    background-image: url(images/StrongDuck.jpg);
}


.chatbox {
    background-color: #171717;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat-container {
    max-height: 70vh; /* Defina a altura máxima desejada */
    overflow-y: auto; /* Adicione rolagem vertical quando necessário */
}
/*Overflow costumization*/
.chat-container::-webkit-scrollbar-track {
    background-color:transparent; 
}
.chat-container::-webkit-scrollbar-thumb {
    background-color: rgb(94, 94, 94);
    border-radius: 25px;
    cursor: pointer;
}
.chat-container::-webkit-scrollbar {
    width: 2vh;
    height: 2vh;
}

.sendText {
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinhando os elementos horizontalmente */
    justify-content: space-between;
    margin-top: 10px; /* Adicione algum espaço superior ao bloco de entrada de texto e botão */
}

.message, .message_bot {
    height: fit-content;
    width: fit-content;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    transition: all .4s;
    justify-content: left;
}

.message:last-child {
    margin-bottom: 0; /* Removendo a margem inferior do último elemento de mensagem */
}
.user-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    justify-content: right;
}

.send-button {
    background-color: #3fe41e;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px ;
    cursor: pointer;
    transition: all .5s;
}

.send-button:hover{
    background-color: #ff004c;
    transform: translatex(-10px);
    transform-origin: right;
}
.message_bot {
    background-color: #ff5100;
    color: #ffffff;
    font-size: 6vh;
}
.message_bot:hover, .message:hover{
    transform-origin: left;
    transform: scale(1.1) ;
    cursor: pointer;
}
.message_bot:active{
    transform: scale(1);
}


@media screen and (max-width: 764px) {
    .bot{
        width: 45%;
    }
    .Return{
        font-size: 2vh;
    }
    .options{
        grid-template-columns: 1fr;
        gap: 1vh;
    }
    .marks img{
        height: 8vh;
    }
}



