/*This sections is for setting the base*/

/*Setting the base of h3*/
h3 {
    transition: color 0.7s;
}
/*Setting the base of links and buttons*/
a, button {
    text-decoration: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    transition: all 0.6s;
}

/*Setting cursor pointer to buttons and links*/
button:hover, a:hover {
    cursor: pointer;
}
body{
    margin: 0;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/kittenBOG.jpg');
    height: 100%;
    background-attachment: fixed;
    background-color: #4e4e4e; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    z-index: -1;
}

/*This section is for the classes*/

/*Setting the main section grid and position*/
.main {
    width: auto;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Return{
    width: fit-content;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin: 2px;
    padding: 1.9vh 1.8vw;
    background-color: rgb(9, 189, 69);
    border-radius: 35px;
    transition: 0.6s;
}

.Return:hover{
    transform: scale(1.1);
    transform-origin: left;
    background-color: rgb(212, 0, 255);
}
/*Setting the left body grid*/
.bodyleft {
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    width: 25%;
}

/*Setting the demonstration bots selection section*/
.Select_bots {
    z-index: 2;
    position: relative;
    display: grid;
    grid-template-rows:  1fr;
    gap: 20px;
}

/*Setting a bot container*/
.bot {
    border-radius:0 25px 25px 0;
    height: 12vh;
    position: relative;
    align-self: flex-start;
    inline-size: auto;
    padding-inline-start: 24px;
    gap: 5px;
    transition: all .4s;
}

/*Setting the bot profile*/
.BotImg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-start;
}


/*Adding the pictures for the bots, with linear gradient*/
#catbotimg {
    background-image: linear-gradient(to left, transparent, black), url(images/kittenBOG.jpg);
}

#duckbot {
    background-image: linear-gradient(to left, transparent, black), url(images/duck\ picture.jpg);
}

#dogbot {
    background-image: linear-gradient(to left, transparent, black), url(images/Puppy.jpg);
}

#chaddog {
    background-image: linear-gradient(to left, transparent, black), url(images/SigmaDog.jpg);
}

#crazycat {
    background-image: linear-gradient(to left, transparent, black), url(images/kitten.jpg);
}

#uglyduck {
    background-image: linear-gradient(to left, transparent, black), url(images/prupru.jpg);
}

/*Setting the bots names*/
.bot_name {
    color: white;
    font-size: 3vh;
    font-family: 'Roboto', sans-serif;
    transition: all .4s;
    opacity: 0;
}

/*Setting the notifications stylus*/
.chatsNotifications {
    transition: all .1s;
    opacity: 0;
    position: absolute;
    bottom: -5px;
    right: -5px;
    width: auto;
    height: auto;
    padding: 5px;
    font-size: 15px;
    background-color: rgb(208, 255, 0);
    color: rgb(0, 0, 0);
    font-weight: 900;
    border-radius: 25px;
}

/*Adding hover and active propeties*/
.bot:hover .chatsNotifications, .bot:hover .bot_name{
    opacity: 1;
}

.bot:hover {
    transform-origin: left;
    transform: scale(1.1);
    cursor: pointer; 
}

.bot:active {
    transition: all .2s;
    transform: scale(1.05);
}

/*Setting the Right body section*/
.bodyright {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ShowBots{
    align-self: flex-start;
    position: relative;
    left: 1%;
    background-color: white;
    color: black;
    padding: 5px ;
    border-radius: 5px;
    font-size: 12px;
    transition: all 0.3s;
}
/*
.ShowBots p{
    writing-mode: vertical-rl;
}
*/
.ShowBots:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(22, 21, 21);
}
/*Setting the stylus for the start button*/
.Start_Button {
    width: auto;
    font-size: 70px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    align-self: center;
}

/*Setting the credits*/
.credits {
    background-color: transparent;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-self: center;
    margin: 0.7vh;
    font-size: 2.1vh;
    font-family: 'Roboto', sans-serif;
}
/*setting the hover stylus for the linkhover class*/
.linkhover:hover {
    color: rgb(255, 92, 173);
}

/*Setting the responsivity*/

@media screen and (max-width: 764px) {
    .Register, .Login{
        font-size: 4vh;
    }
    .credits{
        font-size: 1.6vh;
    }
    .Start_Button{
        font-size: 7.6vh;
    }
    .main {
        grid-template-columns: 1fr;
    }
    .bodyleft{
        grid-template-rows: 1fr;
    }
    .bodyright{
        grid-template-rows: 5fr 1fr;
    }
    /*Setting the hover correctly, so that the page won't expand it*/
    .ProfileInfo:hover, .bot:hover, .Register:hover, .Login:hover, .Start_Button:hover {
        transform: scale(1) translateY(5px);
    }
    .ProfileInfo:hover {
        border-radius: 0 ;
    }
    .chatsNotifications {
        position: absolute;
        bottom: -8px;
        right: 1;
        opacity: 0.9;
    }
    .bot{
        border-radius: 25px;
    }
    .bot:active {
        transition: all .2s;
        transform-origin: center;
        transform: scale(.9);
    }
}

.none{
    display: none;
}